header{
    text-align: center;
}
.inp{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 5px;
}
.contet{
    display: flex;
    align-items: center;
    justify-content: center;
}
.t{
    width: 50%;
    margin: 10px;
}

.t h1{
    font-size: 40px;
    margin: 40px 5px 0;
    padding: 22px;
    width: 45%;
}
.t p{
    font-size: 30px;
    margin: 20px;
}
.contet img{
    float: right;
    margin: 40px 20px 20px 0;
    padding: 32px;
    max-width: 230px;
}

.ppp{
    display: flex;
    align-items: center;
    justify-content: center;
}


.profile img{ 
    float: right;
    width: 80px;
    margin: 0 20px;
    border-radius: 80px;
}

.styleres{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.respositories{
    border: solid red;
    margin: 5px;
    min-width: 360px;
}